.header {
    width: 100%;
    height: 100px;
    background: #D8D8D8;
    color: black;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    line-height: 100px;
}


/* Use float to get this container in its desired location. */

.content-left {
    width: 34%;
    /* This height is a placeholder. You will need to make some adjustments to get this container to look like the design. */
    height: 785px;
    background: #565555;
    float:left;
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    line-height: 700px;
}


/* Use float to get this container in its desired location. */

.content-mid {
    width: 66%;
    /* This height is a placeholder. You will need to make some adjustments to get this container to look like the design. */
    height: 785px;
    background: #B0B0B0;
    float:right;
    color: black;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    line-height: 700px;
}


/* Use float to get this container to the bottom of the screen  */

.footer {
    width: 100%;
    height: 100px;
    background: #D8D8D8;
    position:absolute;
    bottom:0;
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    line-height: 100px;
}
